---
import { Image } from "astro:assets";

const { className, href, title, image, color } = Astro.props;
---

<div class:list={[`col-span-2 bg-[${color}] bg-opacity-25`, className]}>
    <a href={href} target="_blank" title={title}>
        <Image
            height={40}
            width={40}
            loading="lazy"
            class="object-cover h-full w-full"
            src={image}
            alt={title}
            
        />
    </a>
</div>
